/*
*
*
*
*
*/
@font-face {
    font-family: Raleway;
    src: url(../Resources/Fonts/Raleway-Light.ttf);
}
h1.header-title{
    width: 100%;
	display: block;
    color: #3498db;
    margin:0px;
    padding: 30px;
    background-color: white;
    font-weight: 100;
    text-align: center;
}
h2{
	margin-top: 0px;
	background-color: #3498db;
	color: #ecf0f1;
    font-weight: lighter;
	padding: 5px;
}
header{
    margin: 0px;
    padding: 0px;
    background-color: white;
	clear: left;
    width: 100%;
	display: block;
}
nav{
	display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    position:relative;
    width: 100%;
    height: auto;
    text-align: center;
	background-color: #3498db;
}
img.header-logo{
	float: right;
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

body{
	font-family: Lato, sans-serif;
	background-color: #ecf0f1;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color:#333 ;
    width:100%;
    height: 100%;
    font-weight: 300;
    line-height: 1.625;
}
main{
    margin-top: 15px;
	clear: left;
}
.left-column{
	background-color: #ecf0f1;
	float: left;
	display: inline-block;
	position: relative;
	width: 20%;
	margin-left: 18.75%;
	margin-right: 0.625%;
}
.mid-column{
	background-color: #ecf0f1;
	float: left;
	display: inline-block;
	position: relative;
	width: 20%;
	margin-left: 0.625%;
	margin-right: 0.625%;
}

.right-column{
	background-color: #ecf0f1;
	float: right;
	display: inline-block;
	position: relative;
	width: 20%;
	margin-left: 0.625%;
	margin-right: 18.75%;
}

.news-icon:before{
	content: "";
	background: url("../Resources/Icons/news.png");
	display: block;
	width: 32px;
    height: 32px;
    float: left;
    margin: 0 6px 0 0;
}

.recent-icon:before{
	content: "";
	background: url("../Resources/Icons/documents.png");
	display: block;
	width: 32px;
    height: 32px;
    float: left;
    margin: 0 6px 0 0;
}

.review-icon:before{
	content: "";
	background: url("../Resources/Icons/chat.png");
	display: block;
	width: 32px;
    height: 32px;
    float: left;
    margin: 0 6px 0 0;
}

ul.nav-menu{
	list-style-type: none;
    margin: 0px;
	background-color: #2980b9;
}

a.nav-item{
    -o-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	color: #ecf0f1;
    font-size: 14px;
	display: inline-block;
	margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration:none;
}
a.nav-item:hover {
    color:#2980b9;
}

a.nav-item:after {
    margin-left: 5px;
    content: "|";
    color: #ecf0f1;
}

a.nav-item-last {
    -o-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    text-decoration:none;
	color: #ecf0f1;
    font-size: 14px;
	display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
	margin-left: 5px;
    }

a.nav-item-last:hover {
    color:#2980b9;
}
@media only screen and (max-width: 1024px){
	.left-column{
		background-color: #ecf0f1;
		float: left;
		display: inline-block;
		position: relative;
		width: 32%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.mid-column{
		background-color: #ecf0f1;
		float: left;
		display: inline-block;
		position: relative;
		width: 32%;
		margin-left: 0%;
		margin-right: 1%;
	}

	.right-column{
		background-color: #ecf0f1;
		float: right;
		display: inline-block;
		position: relative;
		width: 32%;
		margin-left: 0%;
		margin-right: 1%;
	}
	
	a.nav-item{
		-o-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		color: #ecf0f1;
		font-size: 14px;
		display: inline-block;
		margin-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-decoration:none;
	}
}

@media only screen and (max-width: 768px){
	.left-column{
		background-color: #ecf0f1;
		display: block;
		position: relative;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.mid-column{
		background-color: #ecf0f1;
		display: block;
		position: relative;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.right-column{
		background-color: #ecf0f1;
		display: block;
		position: relative;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	a.nav-item{
		-o-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		color: #ecf0f1;
		font-size: 14px;
		display: inline-block;
		margin-left: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-decoration:none;
	}	
	
}



